BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never

BreakBeforeBraces: Attach

PointerAlignment: Left

SpaceBeforeParens: ControlStatements

NamespaceIndentation: None

IncludeBlocks: Preserve
SortIncludes: false